name: Maven Build

on:
  workflow_call:

env: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      GITHUB_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - id: setup-java-8
        name: Setup Java 8
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 8
      - id: setup-java-17
        name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
      - id: setup-java-21
        name: Setup Java 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
#      - id: setup-java-25
#        name: Setup Java 25
#        uses: actions/setup-java@v5
#        with:
#          distribution: temurin
#          java-version: 25
      - id: create-settings-file
        name: Create Maven Settings
        uses: s4u/maven-settings-action@v4.0.0
        with:
          githubServer: true
          servers: |
            [
              {
                "id": "github-${{ github.repository_owner }}",
                "username": "${{ github.actor }}",
                "password": "${{ github.token }}"
              },
              {
                "id": "github-${{ github.repository_owner }}-plugins",
                "username": "${{ github.actor }}",
                "password": "${{ github.token }}"
              },
              {
                "id": "github-pgp-keys-filler",
                "username": "${{ github.actor }}",
                "password": "${{ github.token }}"
              }
            ]
          repositories: |
            [
              {
                "id": "github-${{ github.repository_owner }}",
                "name": "GitHub ${{ github.repository_owner }}",
                "url": "https://maven.pkg.github.com/${{ github.repository_owner }}/packages",
                "snapshots":{"enabled":false}
              }
            ]
          pluginRepositories: |
            [
              {
                "id": "github-${{ github.repository_owner }}-plugins",
                "name": "GitHub ${{ github.repository_owner }} Plugins",
                "url": "https://maven.pkg.github.com/${{ github.repository_owner }}/packages",
                "snapshots":{"enabled":false}
              },
              {
                "id": "github-pgp-keys-filler",
                "name": "GitHub pgp-keys-filler",
                "url": "https://maven.pkg.github.com/${{ github.repository_owner }}/pgp-keys-filler",
                "snapshots":{"enabled":false}
              }
            ]
      - name: Configure Maven Toolchains
        uses: cactuslab/maven-toolchains-xml-action@v2
        with:
          toolchains: |
            [
              {"jdkVersion": "1.8", "jdkHome": "${{ steps.setup-java-8.outputs.path }}"},
              {"jdkVersion": "1.17", "jdkHome": "${{ steps.setup-java-17.outputs.path }}"},
              {"jdkVersion": "1.21", "jdkHome": "${{ steps.setup-java-21.outputs.path }}"}
            ]
#      - name: Cache Stuff
#        uses: actions/cache@v5
#        with:
#          key: 'maven-${{ github.repository_owner }}-${{ hashFiles(''**/pom.xml'') }}'
#          restore-keys: |
#            maven-${{ github.repository_owner }}-
#            maven-
#          fail-on-cache-miss: false
#          path: |
#            ~/.m2/repository
      - name: Resolve Dependencies
        continue-on-error: true
        run: mvn dependency:go-offline
      - name: Fetch pgp-keys-filler
        continue-on-error: true
        run: mvn dependency:get -DgroupId=org.silnith -DartifactId=pgp-keys-filler -Dversion=0.0.1-SNAPSHOT
      - name: View Settings
        continue-on-error: true
        run: mvn help:effective-settings
      - name: View POM
        continue-on-error: true
        run: mvn help:effective-pom
      - name: Resolve PGP Keys
        continue-on-error: true
        run: mvn pgpverify:go-offline -Dpgpverify.quiet=true
      - name: Clean
        run: mvn clean
      - name: Verify
        run: mvn verify
      - name: Site
        run: mvn site
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: target
          path: target/
      - name: Publish Package
        run: mvn deploy
